/*** RESET ***/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*** GENERAL STYLING ***/

html {
	height: 100%;
}

body {
	background: #f2f2f2;
	text-align: center;
}

/*** BOARD STYLING ***/

main {
	width: 100%;
	margin-top: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

ul {
	max-width: 600px;
	margin: 0 auto;
}

li {
	height: 150px;
	width: 150px;
	display: inline-block;
	border-radius: 2px;
	margin: 0;
	box-shadow: inset 0px -2px 2px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0px 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}

li:hover {
	box-shadow: inset 0px -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0px 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

/*** PLAYER SCOREBOARD STYLING ***/

section {
	margin-top: 5%;


}

#player-one-score, #player-two-score {
	display: inline-block;
	width: 40%;
}

#player-one-score span {
	color: rgba(113, 197, 255, .7);
	text-transform: uppercase;
	font-family: 'Unica One', sans-serif;
}

#player-one-score p {
	color: rgba(113, 197, 255, 1);
}

#player-two-score span {
	color: rgba(255, 137, 65, .7);
	text-transform: uppercase;
	font-family: 'Unica One', sans-serif;
}

#player-two-score p {
	color: rgba(255, 137, 65, 1);
}

p {
	font-family: 'Unica One', sans-serif;
	font-size: 2em;
}

input {
	background: none;
	border: none;
	border-bottom: solid 1px #d3d3d3;
	font-family: 'Unica One', serif;
}

#player-one-input:focus {
	outline: none;
	color: rgba(113, 197, 255, 1);
}

#player-two-input:focus {
	outline: none;
	color: rgba(255, 137, 65, 1);
}


/*** FOOTER STYLING ***/

footer {
	display: block;
}

footer h1 {
	font-family: 'Unica One', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

/*** INTERACTION STYLES ***/

.bump-two li {
	transition: 1s;
	-webkit-animation: bump-two 2s ease-in-out;
}

@-webkit-keyframes bump-two {
	50%  { width: 160px; height: 160px; background: rgba(255, 137, 65, 1); }
	70%  { width: 150px; height: 150px; }

}

.bump-one li {
	transition: 1s;
	-webkit-animation: bump-one 2s ease-in-out;
}

@-webkit-keyframes bump-one {
	50%  { width: 160px; height: 160px; background: rgba(113, 197, 255, 1); }
	70%  { width: 150px; height: 150px; }

}


.odd-hover li:not(.selected):hover {
	background: rgba(255, 137, 65, .7);	
}

.odd-select {
	background: rgba(255, 137, 65, 1);	
}

.even-hover li:not(.selected):hover {
	background: rgba(113, 197, 255, .7);	
}

.even-select {
	background: rgba(113, 197, 255, 1);	
}



/*main {
	background: rgba(255, 137, 65, 1);
}*/





