* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background: #f2f2f2;
	text-align: center;
}

main {
	position: relative;
	padding: 10%;
}

ul {
	width: 600px;
	position: absolute;
	left: 30%;
	top: 30%;
}

li {
	border: solid 1px black;
	height: 150px;
	width: 150px;
	display: inline-block;
	border-radius: 2px;
	margin: 0;
}

section {
	position: relative;
	top: 300px;
	left: 10px;
}

#player-one-score, #player-two-score {
	display: inline-block;
	width: 40%;
	border: solid 1px black;
}

h4 {
	font-family:'Vollkorn', serif;
	font-weight: lighter;
}

p {
	font-family: 'Unica One', sans-serif;
	font-size: 2em;
}

footer {
	position: absolute;
	display: block;
	left: 45%;
	top: 90%;
}

footer h1 {
	font-family: 'Unica One', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

