* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background: #f2f2f2;
	text-align: center;
}

main {
	position: relative;
	padding: 10%;
}

ul {
	width: 400px;
	position: absolute;
	left: 35%;
	top: 40%;
}

li {
	border: solid 1px black;
	height: 100px;
	width: 100px;
	display: inline-block;
	border-radius: 2px;
	margin: 0;
}

